.section-content {
	width: 60%;
	margin: auto;
	padding: 10px;
}

.section-comic {
	margin-left: 0px;
	padding: 10px;
}

.section-comic-image {
	width: 95%;
	margin: auto 5%;
}

.comic-nav {
	position: relative;
	margin-bottom: 10px;
}

.comic-nav a {
	color: black;
	margin: auto 10px;
	transition: all 100ms;
}

.comic-nav a:hover {
	color: #000000a0;
	font-size: 20px;
}

.section-comic-content {
	width: 80%;
	height: 200px;
	margin-left: 5%;
}

#comic-image {
	width: 100%;
	border-radius: 2%;
}

#comic-image:hover {
	cursor: zoom-in;
}

#comic-title {
	position: sticky;
	border-radius: 5px;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#comic-title:hover {
	white-space: normal;
	text-overflow: none;
}

#comic-date {
	font-weight: 600;
	color: #000000c0;
}

#comic-caption {
	height: 100%;
	overflow-y: scroll;
	transition: all 200ms;
}

/* Desktop view */

@media only screen and (min-width: 1000px) {
	.section-comic-image {
		position: absolute;
		width: 40%;
		max-width: 550px;
		margin: 0;
		right: 5%;
	}

	.section-comic-content {
		width: 45%;
		height: 400px;
	}

	#comic-caption {
		overflow-y: auto;
	}
}